:root {
  --primary-color-400: hsl(0, 0%, 96.47%);

  --secondary-color-600: hsl(220, 10%, 6%);
  --secondary-color-400: hsl(222.86, 9.33%, 14.71%);
  --secondary-color-200: hsl(220, 10%, 18%);
  --secondary-color-100: hsl(222, 8%, 39%);

  --font-primary-600: hsl(0, 0%, 61.18%);
  --font-primary-400: hsl(0, 0%, 55.69%);
  --font-primary-200: #999;

  --padding-primary: 25px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 10000;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  overflow-x: scroll;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

/* modal controls */
.modalControls {
  display: flex;
  justify-content: space-between;

  width: 100%;

  padding: 10px;

  position: fixed;
  z-index: 1500;
  top: 0;
}

.modalControls.hidden {
  display: none;
}

.modalBackBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  height: 35px;
  width: 35px;

  background: white;
}

.modalBackBtn > i {
  font-size: 1.2rem;

  color: var(--font-primary-200);
}

.modalControlsRight {
  display: flex;
  justify-content: space-between;

  width: 80px;
}

.modalControlsRight > button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  height: 35px;
  width: 35px;

  background-color: white;
}

.modalControlsRight > button > i {
  font-size: 1.2rem;

  /* color: rgb(76, 75, 75); */
  color: var(--font-primary-200);
}

/* modal Description */

.modal-description {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: auto;

  background-color: white;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  padding: 30px;

  position: absolute;
  z-index: 1000;
  top: 37%;

  overflow-y: auto;
}

.modal-description > .property-summary-price-location {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 50px;
}

.property-summary-price-location > .property_summary-location {
  display: flex;
  flex-direction: column;
}

.property_summary-location > p {
  color: var(--font-primary-200);
}

.property_summary-location > p > i {
  margin-right: 10px;
}

.property-summary-price-location > .property_summary_price {
  display: flex;
  flex-direction: column;
}

.property_summary_price > p {
  color: var(--font-primary-200);
}

.property-description-details {
  max-height: max-content;
}

.property-description-details > .property-description {
  margin-top: 10px;
  color: var(--font-primary-200);
}

/* facilities section */

.property-facilities {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  width: 100%;
}

.property-facilities > .property-facilities-display {
  display: flex;

  margin-top: 20px;
}

.property-facilities-display > ul {
  display: flex;
  list-style-type: none;

  width: 100%;

  flex-wrap: wrap;
  gap: 1rem;

  padding: 0;
  margin: 0;
}

.property-facilities-display > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  border-radius: 20px;
  background-color: whitesmoke;

  flex: 0 1 auto;
}

.property-facilities-display > ul > li > i {
  margin-right: 5px;
  margin-left: 5px;
}

.modalBtn {
  margin-top: 50px;

  border: none;
  border-radius: 10px;
  padding: 15px;

  font-weight: 500;
}

.modalBtn:hover {
  background: orange;
  color: white;
}

.property-amenities-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 10000;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  padding: 30px;

  overflow-x: scroll;
}

.property-amenities-modal.open {
  opacity: 1;
  visibility: visible;
}

.property-amenities-modal > .amenitiesmodalBackBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  height: 35px;
  width: 35px;

  position: fixed;
  top: 20px;
  left: 20px;
}

.amenitiesmodalBackBtn > i {
  color: var(--font-primary-200);
}

.amenitiesmodalBackBtn:hover {
  background: orange;
}

.amenitiesmodalBackBtn > i:hover {
  color: white;
}

.amenities-modal-details {
  margin-top: 50px;
}

.amenities-modal-details > .amenities-utilities {
  margin-top: 30px;
  margin-bottom: 50px;
}

.amenities-utilities > ul {
  list-style-type: none;

  padding: 0;
  margin: 0;
}

.amenities-utilities > ul > li {
  height: 30px;
  width: 100%;

  align-items: center;
  justify-content: center;

  background: whitesmoke;
  border-radius: 10px;

  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 30px;

  font-size: 1rem;
}

.amenities-utilities > ul > li > i {
  font-size: 1.3rem;
  color: var(--font-primary-200);

  margin-right: 10px;
  margin-left: 10px;
}

/* propety locations */
.property-location {
  display: flex;
  flex-direction: column;

  margin-top: 50px;

  width: 100%;
}

.property-location > .property_location_title {
  margin-top: 20px;

  color: var(--font-primary-200);
}

.property-location-map > iframe {
  margin-top: 10px;
  border-radius: 20px;
}

/* 
Property reviews ssecction */

.property-reviews {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.property-reviews-display {
  display: flex;

  margin-top: 20px;
  margin-bottom: 50px;

  width: 100%;

  overflow: auto;

  gap: 20px;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.property-reviews-display > .property-review-card {
  display: flex;
  flex-direction: column;

  min-width: 300px;
  min-height: 100px;

  border-radius: 10px;

  padding: 20px;

  background-color: #ffffff;

  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.099);
}

.property-review-card > .rating-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.rating-div > i {
  font-size: 2rem;

  color: orange;
}

.rating-div > .rating-stars {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 110px;
}

.rating-stars > i {
  color: orange;

  font-size: 1rem;
}

.user-rating-comment {
  display: flex;
  width: 100%;

  /* margin-top: 10px; */
  padding: 10px;
}

.user_rating-details {
  display: flex;
  align-items: center;

  padding-left: 10px;
  margin-top: 20px;
}

.user_rating-details > .user_rating_img {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;
  height: 40px;
  width: 40px;
}

.user_rating_img > .user_img {
  display: flex;

  border-radius: 50px;
  height: 40px;
  width: 40px;

  object-fit: cover;
}

.user_rating-details > .user_details {
  display: flex;
  flex-direction: column;

  line-height: 1;

  margin-left: 10px;
}

.user_details h4 {
  margin: 0;
  font-size: 1rem;
}

.user_details p {
  margin: 5px 0 0 0;
  font-size: 0.85rem;
  color: gray;
}

/* comments Modal */
.comments-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 12000;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;

  padding: 30px;

  position: fixed;

  overflow-x: scroll;
}
.comments-modal.open {
  opacity: 1;
  visibility: visible;
}

.comments-modal > .comment-modal-back {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50%;

  height: 35px;
  width: 35px;

  position: fixed;
  top: 20px;
  left: 20px;
}

.comment-modal-back > i {
  color: var(--font-primary-200);
}

.comment-modal-back:hover {
  background: orange;
}

.comment-modal-back > i:hover {
  color: white;
}

.comments-modal > .comment-modal-details {
  margin-top: 50px;
}

.comment-modal-details > .user_comments_display {
  display: flex;
  flex-direction: column;
}

.user_comments_display > .user_review_comment {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.commentBtn {
  position: fixed;

  width: 80%;
  bottom: 10px;
}
